<div class="raise-ticket">
  <mat-card class="ticket-card" align="center" class="full-width">
    <mat-card-title>Raise Ticket</mat-card-title>
    <br>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Write your issue here</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="form-field">
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
