<div class="registration">
    <mat-card class="registration-card" align="center">
      <mat-card-title>Registration Form</mat-card-title>
      <br>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Enter first name" formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Enter last name" formControlName="lastName">
              <!--<mat-error *ngIf="formGroup.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>-->
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter username" formControlName="username">
              <!--<mat-error *ngIf="formGroup.controls['name'].invalid">{{getNameErrorMessage()}}</mat-error>-->
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Enter email" formControlName="email">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Mobile number</mat-label>
              <input matInput placeholder="Enter mobile number" formControlName="mob">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="datepicker" placeholder="Enter DOB" formControlName="dob">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Enter password" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Re-enter password" formControlName="rePassword">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint *ngIf="formGroup.errors?.['valuesDoNotMatch']" class="pwd-mis">
                <strong color="red">Passwords do not match</strong>
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-checkbox color="primary" formControlName="cb">I accept to all the <a>terms and conditions</a></mat-checkbox>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="form-field">
        <button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="primary">Register</button>
        <br><br>
        <p>Already registered? <a mat-button color="primary" routerLink="/login">Login</a></p>
      </mat-card-actions>
    </mat-card>
    </div>
    
