.registration-card {
    max-width: 400px;
  }

.form-field .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.registration-card {
    margin: auto;
    padding-bottom: 30px;
}

.pwd-mis {
    color: red;
}