<div class="login">
    <mat-card class="registration-card" align="center">
      <mat-card-title>Login</mat-card-title>
      <br>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Enter username" formControlName="username">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter password" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="form-field">
        <button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="primary">Login</button>
        <br><br>
        <p>New player? <a mat-button color="primary" routerLink="/registration">Register</a></p>
      </mat-card-actions>
    </mat-card>
</div>
    
