<p>
  <mat-toolbar color="primary">
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span>KlubHaus</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/game-list">Home</a>
    <a mat-button href="">Spin for Win</a>
    <a mat-button routerLink="/helpdesk">Help Desk</a>
    <a mat-button href="">Top Up</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<!--<div>{{hide}}</div>-->
<router-outlet></router-outlet>