
<mat-grid-list cols="2" rowHeight="100px">
    
    <mat-grid-tile colspan="1" rowspan="4">
      <app-faq></app-faq>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="4">
        <app-raise-ticket></app-raise-ticket>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <button mat-raised-button color="primary">Ticket History</button>
    </mat-grid-tile>
</mat-grid-list>
