<mat-grid-list cols="3" class="list-container">
    <mat-grid-tile *ngFor="let element of games">
        <mat-card class="example-card" align="center">
            <mat-card-title >{{element.name}}</mat-card-title>
            <img mat-card-image src="{{element.img}}" alt="Photo">
            <mat-card-content>
              <p>
                {{element.credits}} Credits
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Play</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>

  
