<div class="faq">
  <mat-card class="registration-card" align="center">
    <mat-card-title>FAQ - Frequently Asked Questions</mat-card-title>
    <br>
    <mat-card-content>
      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Where will I find the coupons collected by me?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ex eaque, aliquid aut sed expedita sit necessitatibus libero corrupti!</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Why am I unable to apply the collected coupon when making a purchase?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ex eaque, aliquid aut sed expedita sit necessitatibus libero corrupti!</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Do I need to copy and paste some coupon code?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ex eaque, aliquid aut sed expedita sit necessitatibus libero corrupti!</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  I’m a new visitor to Klubhaus. How do I login?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ex eaque, aliquid aut sed expedita sit necessitatibus libero corrupti!</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  How do I find and use Klubhaus Coupons?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ex eaque, aliquid aut sed expedita sit necessitatibus libero corrupti!</p>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Can I collect a coupon now and make the purchase later?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae animi ex eaque, aliquid aut sed expedita sit necessitatibus libero corrupti!</p>
          </mat-expansion-panel>

        </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>